.imageElement {
  &--img-category-menu {
    width: 1.375rem;
    height: 1.375rem;
  }

  &--img-category-promotion {
    width: 5rem;
    height: 1.9375rem;
    padding-top: .5rem;
  }
}

.autoCompleteOuterContainer {
  &--store-header {
    & :first-child {
      &  :first-child {
        & :first-child {
          font-weight: 400;
          font-size: .875rem;
          line-height: 1.5625rem;
        }
      }
    }
  }
}