.paginationDotsContainer {
  &--main-banner {
    padding-bottom: .375rem;
  }
}

.paginationDot {
  &--main-banner {
    &--isActive {
      background-color: $primary-color1-500!important;
      width: .5rem;
      height: .5rem;
    }
  }
}

.caretIcon {
  &--main-banner {
    color: #424242;
    width: 1rem;
    height: 1rem;
  }
}