.imageElement {
  &--read-for-sport {
    position: absolute;
    top: -340px;
    left: 230px;
  }
}

.infoCardCallActionContainer {
  &--button-banner {
    position: absolute;
    right: 0.6rem;
    top: -174px;
    width: 16.5625rem;
    height: 2.75rem;
  }
}

.infoCardContainer {
  &--button-banner {
    border: none;
  }
}