.infoCardContainer {
  &--category {
    width: 12.6875rem;
    height: 15.9375rem;
    border-radius: 10px;
  }
}

.infoCardTextContainer {
  &--category {
    position: relative;
  }
}

.infoCardCallActionContainer {
  &--category {
    width: 12.6875rem; 
    height: 2.5rem; 
    background: $second-color1-500; 
    border-radius: 0px 0px .625rem .625rem; 
    position: absolute;
    top: 4rem;
      &::after {
      background: transparent !important;
    }
  }
}


