$primary-color1-500: #2D17AF;
$primary-color2-500: #160B2F;
$primary-color3-600: #271498;
$primary-color-bg-pure-500: linear-gradient(90deg, #FC5252 0%, #F26F25 100%);

$second-color1-500: #160B55; 
$second-color2-500:  #6B6B6B;
$second-color3-500: #FFFFFF;
$second-color-200: #E6E6E6;
$second-color1-100: #F0F0F0;
$second-color2-100: #FAFAFA;

$third-color-50: #F9F8FE;

$text-color1-500: #353535;
$text-color2-500: #160B55;
$text-color-400: #777777;
$text-color-300: #BFBFBF;
$text-color-200: #E2E2E2;

$bg-color-flag1: #0A0528;
$bg-color-flag2: #10083E;
$bg-color-flag-discount: #6FCF97;


