@mixin button-main($background:$primary-color-bg-pure-500) {
  background: $background !important;
  color: $second-color3-500 !important;
  border-radius: 31.25rem!important;
  border: none !important;
  width: 100%;
  font-size: $font-size-base;
}