.flexRow {
  width: 100%;

  &--topbar {
    height: 1.5625rem;
    background: $primary-color3-600;
  }

  &--topbar-mobile {
    height: 1.25rem;
  }
}

.flexRowContent {
  &--topbar-right-row {
    gap: 4.1444rem;
  }

  &--row-call-center {
    align-items: center;
    gap: .3125rem;
  }
  &--main-header-mobile {
    background: $primary-color3-600;
    justify-content: center;
    height: 1.25rem;
  }

  
}

