.cartIcon {
  width: 1.5rem;
  height: 2.5rem;
}

:global(.vtex-button) {
  &:hover {
    border: none;
  }

  &:focus {
    border: none;
  }
}

.minicartQuantityBadge {
  width: 2.375rem;
  height: .9375rem;
  color: $second-color3-500;
  background: $primary-color-bg-pure-500;
  top: -0.6rem;
  right: -2.4rem;
}

