:global(.vtex-login-2-x-container .vtex-button ) {
  background: $primary-color1-500 !important;
}

.profileIcon {
  &--login {
    width: 1.5rem;
    height: 1.5rem;
    margin:0;
    padding:0
  }
}

.label {
  margin: 0;
  padding: 0;
  color: $second-color3-500;
  margin-top: .5rem;
  margin-right: .625rem;
}

.accessCodeOptionBtn {
  & :first-child {
    background: transparent !important;
    & :first-child {
      color: #000000;
    }
  }
}

.emailPasswordOptionBtn {
  & :first-child {
    background: transparent !important;
    & :first-child {
      color: #000000;
    }
  }
}