.flexRow {
  &--main-header {
    height: 4.6875rem;
    background: $primary-color1-500;
    padding: 0;
  }

  &--store-left {
    display: flex;
    gap: 2.875rem;
  }
}

.flexRowContent {
  &--main-header {
    height: 4.6875rem;
    background-color: $primary-color1-500 !important;
    padding: 0 !important;
    align-items: center;
    gap: 10rem;

    &:hover {
      background-color: transparent;
    }
  }

  &--store-right {
    align-items: center;
    color: $second-color3-500;
    gap: 2.5rem;
    padding-top: 16px;
  }
}

