.formSubmitContainer {
  &--newsletter :first-child {
    background: transparent!important;
    width: 6.6875rem;
    height: 2.25rem;
    & :first-child {
      border: 1px solid $second-color1-500 !important;
      border-radius: 3.125rem;
      color: $second-color1-500;
      font-weight: 700;
      font-size: .875rem;
      line-height: 1.25rem;
    }
  }
}

.emailInputContainer {
  &--newsletter {
    padding-left: .4375rem;
  }
}

.emailInputContainer {
  &--newsletter :last-child {
    width: 18.5rem;
    background: $third-color-50;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    color: $text-color-400;
    border-bottom: 1px solid $text-color2-500 !important;
    border-radius: 0;
    align-self: flex-end;
    padding: 0;
  }
}
