.slideChildrenContainer {
  &--shelf {
    background-color: $second-color3-500;
    height: 27.125rem;
    border-radius: .625rem;
  }
}

:global(.vtex-slider-layout-0-x-slide--shelf) {
  min-height: 32.4375rem !important;
}