.paragraph {
  &--shelfTitle {
    font-size: 2.625rem;
    font-weight: 500;
    color: $second-color1-500;
  }
  &--product {
    padding: 2.5rem 1.125rem 0 0;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 1.6875rem;
    color: $text-color1-500;
    margin-bottom: 1.25rem;
  }
  &--shelfTitle-news {
    font-size: 2.625rem;
    font-weight: 500;
    color: $second-color1-500;
  }
}

.strong {
  &--product {
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.4375rem;
  }
}

.container {
  &--shelfTitle {
    background: $third-color-50;
    margin-top: 7rem;
    padding: 3.5625rem 0 2.375rem;
  }

  &--shelfTitle-news {
    padding: 3.6875rem 0 3.3125rem;
    justify-content: center;
  }
}