.flexRow {
  &--shelf {
    background: $third-color-50;
  }

  &--shelf-news {
    background: $second-color3-500;
  }

  &--products-secondLine-block-news {
    margin-top: 3.5rem;
  }
  &--banners-finish-home {
    margin: 4.25rem 0 5.5625rem;
  }
}
.flexRowContent {
  &--selling-orice-savings {
    align-items: center;
    gap: 1.5rem;
    height: 1.3125rem;
    margin-bottom: .4375rem;
  }
  &--highlights-lineOne {
    position: absolute;
    top: 10.8rem;
    left: 0;
    gap: 1.25rem;
  }
  &--highlights-lineTwo{
    position: absolute;
    top: 12.8rem;
    left: 0;
  }

  &--section-product-casual {
    margin-top: 4.0625rem;
  }

  &--products-diversified {
    margin-top: 1rem;
    gap: .9375rem;
  }

  &--product {
    width: 26rem;
    height: 26.25rem;
    border-radius: 1.25rem;
    background: $third-color-50;
  }
  &--products-secondLine-block-news {
    gap: .75rem;
  }
  &--banners-finish-home {
    max-width: inherit;
    gap: 1rem;
  }
}

.flexColChild {
  &--summary-shelf {
    height: 1.5625rem;
    margin-bottom: 1.375rem;
  } 

  &--product {
    height: auto !important;
  }
}

.flexCol {
  &--product-second-line {
    width: 19.4375rem;
    height: 18.5rem;
    background: $third-color-50;
  }
}

.stretchChildrenWidth {
  gap: 1.25rem;
}