.flexRow {
  &--shelf {
    background: $third-color-50;
  }
}
.flexRowContent {
  &--selling-orice-savings {
    align-items: center;
    gap: 1.5rem;
    height: 1.3125rem;
    margin-bottom: .4375rem;
  }
}

.flexColChild {
  &--summary-shelf {
    height: 1.5625rem;
    margin-bottom: .5625rem;
  }
}