.imageContainer {
  &--image-shelf {
    width: 13.0625rem;
    height: 13.0625rem;
  }
} 

.productNameContainer {
  text-align: center;
  margin: 0 auto !important;
  width: 15.1875rem;
  height: 3.625rem;
}

:global(.vtex-product-summary-2-x-brandName) {
  font-weight: 700 !important;
  font-size: .875rem !important;
  line-height: 1.25rem !important;
  color: $text-color1-500 !important;
}

.nameContainer {
  padding-top: .6875rem !important;
  padding-bottom: .6875rem !important;
}

.image {
  &--image-shelf {
    padding-top: .1875rem;
  }
}