.productHighlightText {
  &--promotions {
    width: 56px!important;
    height: .875rem !important;
    font-size: .625rem !important;
    color: $bg-color-flag2 !important;
    background: rgba(86, 204, 242, 0.2) !important;
    border-radius: 3.125rem !important;
  }
}

