.paragraph {
  &--tipbar {
    font-weight: 700;
    font-size: $font-size-secondary;
    color: $text-color1-500;
  }
}
.link {
  &--tipbar {
    color: $text-color1-500;
    text-decoration: underline;
  }
}