.slideChildrenContainer {
  &--partner-brands {
    width: 9rem;
    height: 5rem;
    background: $second-color3-50;
  }
}

.slide {
  &--partner-brands {
    width: auto !important;
  }
}

.sliderTrack {
  &--partner-brands {
    justify-content: center;
    gap: 2.1875rem;
  }
} 

.caretIcon {
  &--partner-brands {
    width: 1rem;
    height: 1rem;
    color: $second-color2-300;
  }
}

